@using FlatShop.Models.EF
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section script{
    <script language="javascript" type="text/javascript">
        function SortBy() {
            @*var key=jQuery("#sortby").val();
            if (key == "Name") {
                @Model.OrderBy(x => x.Name);
            }else if(key=="Price")
            {
                @Model.OrderBy(x => x.Price);
            }*@
         var key_=jQuery("#sortby").val(); 
         window.location.href = "/ProductCategory/SortBy?key=" + key_ + "&model=" + @Model;
        }
    </script>
}
<div class="container_fullwidth">
            <div class="container">
                <h5 class="title contact-title">
                    Sản phẩm
                </h5>
                <div class="row">
                    <div class="col-md-3">
                       @{ Html.RenderAction("Category", "Product",new {ParentID=ViewBag.parentID});}
                       @{Html.RenderPartial("/Views/Shared/_Facebook.cshtml");}
                        <div class="leftbanner">
                            <img src="/Assets/Client/images/banner-small-01.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="banner">
                            <div class="bannerslide" id="bannerslide">
                                <ul class="slides">
                                    <li>
                                        <a href="#">
                                            <img src="/Assets/Client/images/banner-01.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="/Assets/Client/images/banner-02.jpg" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="products-grid">
                            <div class="toolbar">
                                <div class="sorter">
                                    <div class="view-mode">
                                        <a href="productlitst.html" class="list">
                                            List
                                        </a>
                                        <a href="#" class="grid active">
                                            Grid
                                        </a>
                                    </div>
                                    <div class="sort-by">
                                        Sắp xếp theo :
                                        <select name="SortBy" id="sortby" onchange="SortBy()">
                                            <option value="Default" selected>
                                                Mặc định
                                            </option>
                                            <option value="Name">
                                                Tên
                                            </option>
                                            <option value="Price">
                                                Gía bán
                                            </option>
                                        </select>
                                    </div>
                                    <div class="limiter">
                                        Hiển thị :
                                        <select name="">
                                            <option value="3" selected>
                                                3
                                            </option>
                                            <option value="6">
                                                6
                                            </option>
                                            <option value="9">
                                                9
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="pager">
                                    <a href="#" class="prev-page">
                                        <i class="fa fa-angle-left">
                                        </i>
                                    </a>
                                    <a href="#" class="active">
                                        1
                                    </a>
                                    <a href="#">
                                        2
                                    </a>
                                    <a href="#">
                                        3
                                    </a>
                                    <a href="#" class="next-page">
                                        <i class="fa fa-angle-right">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                            @{ var group = Model.GroupBy(r => Model.IndexOf(r) / 3).ToList();
                                foreach (var parent in group)
                                {
                                    <div class="row">
                                        @foreach (Product item in parent)
                                        {
                                            <div class="col-md-4 col-sm-6">
                                                <div class="products">
                                                    <div class="offer">- %40</div>
                                                    <div class="thumbnail"><a href="/Home/Detail/@item.ID"><img src="/Assets/Client/images/@item.Image"></a></div>
                                                    <div class="productname">@item.Name</div>
                                                    <h4 class="price">@item.Price VND</h4>
                                                    <div class="button_group">
                                                        <a class="button add-cart" href="/Cart/AddItem?productID=@item.ID&quantity=1" method="post">Thêm vào giỏ</a>
                                                        <button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                        
                                }
                            }
               
                            <div class="clearfix">
                            </div>
                            <div class="toolbar">
                                <div class="sorter bottom">
                                    <div class="view-mode">
                                        <a href="productlitst.html" class="list">
                                            List
                                        </a>
                                        <a href="#" class="grid active">
                                            Grid
                                        </a>
                                    </div>
                                    <div class="sort-by">
                                        Sắp xếp theo :
                                        <select name="">
                                            <option value="Default" selected>
                                                Mặc định
                                            </option>
                                            <option value="Name">
                                                Tên
                                            </option>
                                            <option value="
<strong>
#
</strong>
">
  Gía bán
                        </option>
                                        </select>
                                    </div>
                                    <div class="limiter">
                                        Hiển thị :
                                        <select name="">
                                            <option value="3" selected>
                                                3
                                            </option>
                                            <option value="6">
                                                6
                                            </option>
                                            <option value="9">
                                                9
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="pager">
                                    <a href="#" class="prev-page">
                                        <i class="fa fa-angle-left">
                                        </i>
                                    </a>
                                    <a href="#" class="active">
                                        1
                                    </a>
                                    <a href="#">
                                        2
                                    </a>
                                    <a href="#">
                                        3
                                    </a>
                                    <a href="#" class="next-page">
                                        <i class="fa fa-angle-right">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="our-brand">
                    <h3 class="title">
                        <strong>
                            Nhãn hiệu
                        </strong>
                    </h3>
                    <div class="control">
                        <a id="prev_brand" class="prev" href="#">
                            &lt;
                        </a>
                        <a id="next_brand" class="next" href="#">
                            &gt;
                        </a>
                    </div>
                    <ul id="braldLogo">
                        <li>
                            <ul class="brand_item">
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/envato.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/themeforest.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/photodune.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/activeden.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/envato.png" alt="">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="brand_item">
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/envato.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/themeforest.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/photodune.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/activeden.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="/Assets/Client/images/envato.png" alt="">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       