
<div class="fbl-box leftbar">
    <div class="fb-page" data-href="https://web.facebook.com/FlatShop-803728449799238" data-tabs="timeline" data-width="265" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://web.facebook.com/FlatShop-803728449799238" class="fb-xfbml-parse-ignore"><a href="https://web.facebook.com/FlatShop-803728449799238">FlatShop</a></blockquote></div>
</div>

