@model FlatShop.Models.EF.MoreEF.Account

@if (Model==null)
{
            <li><a href="/Login/Index" class="log">Đăng nhập</a></li>
            <li><a href="/Registry/Index" class="reg">Đăng kí</a></li>
}
else
{
   // <ul class=" dropdown dropdown-menu">
            <li class="active">
                <span style="color:white;">@Model.Email</span>
            </li>
            <li>
                <a href="/Login/Logout">Đăng xuất</a>
            </li>
        
  //  </ul>
}

